<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.ehrconfigs</package>
	<author>HealthIT</author>
	<description>
			Setting core data for the EHR application
	</description>

	<activator>org.openmrs.module.ehrconfigs.EHRConfigurtaionsActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.11.6</require_version>
	<require_modules>
		<require_module>org.openmrs.module.hospitalcore</require_module>
		<require_module>org.openmrs.module.metadatadeploy</require_module>
	</require_modules>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.ehrconfigs.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>org.openmrs.module.ehrconfigs.advice.EhrPatientAdvice</class>
	</advice>

	<globalProperty>
		<property>${project.parent.artifactId}.location</property>
		<defaultValue>1</defaultValue>
		<description>
			Location id
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.patientIdentifierType</property>
		<defaultValue>1</defaultValue>
		<description>
			Patient Identifier Type id
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.encounterType.init</property>
		<defaultValue>REGINITIAL</defaultValue>
		<description>
			Encounter type for the first visit
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.encounterType.revisit</property>
		<defaultValue>REGREVISIT</defaultValue>
		<description>
			Encounter type for returned visits
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.newPatientConcept</property>
		<defaultValue>New Patient</defaultValue>
		<description>
			Concept name of "New Patient" referral for patient queue
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.numberOfDateValidation</property>
		<defaultValue>0</defaultValue>
		<description>
			Number of date validation
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.initialVisitRegistrationFee</property>
		<defaultValue>0</defaultValue>
		<description>
			Registration Fee for first visit
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.reVisitRegistrationFee</property>
		<defaultValue>0</defaultValue>
		<description>
			Registration Fee for revisit
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.patientPerRSBY</property>
		<defaultValue>5</defaultValue>
		<description>
			Maximum number of patients can register with a RSBY number
		</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.patientPerBPL</property>
		<defaultValue>10</defaultValue>
		<description>
			Maximum number of patients can register with a BPL number
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.revisitConcept</property>
		<defaultValue>REVISIT</defaultValue>
		<description>
			Name of concept REVISIT
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.referralReasonsConcept</property>
		<defaultValue>Reasons for Referral</defaultValue>
		<description>
			referralReasonsConcept concept
		</description>
	</globalProperty>
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

